<p id="notice"><%= notice %></p>

<p>
	<b>Line:</b>
	<%= @answer.line %>
</p>

<p>
	<b>Substring:</b>
	<%= @answer.substring %>
</p>

<%= link_to 'Edit', edit_card_answer_path(@answer) %> |
<%= link_to 'Back', card_answers_path %>
