<p id="notice"><%= notice %></p>

<p>
	<b>Start Offset:</b>
	<%= @answer.start_offset %>
</p>

<p>
	<b>End Offset:</b>
	<%= @answer.end_offset %>
</p>

<%= link_to 'Edit', edit_card_answer_path(@answer) %> |
<%= link_to 'Back', card_answers_path %>
