<%= javascript_tag do %>
	window.answers = <%= raw @card.answers.select("line, substring").map{|a| [a.line, a.substring]}.to_json %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @card.task %>
</p>

<p>
<b>Code:</b></br/>
</p>

<div id="code">
<ol>
	<% @card.split_lines.each_with_index do |line, line_index| %>
		<li><% @card.split_substrings(line).each_with_index do |substring, substring_index| %><span id= "<%= line_index + 1 %> <%= substring_index + 1 %>" class="code_snippet"><%= substring %></span><% end %></li>
	<% end %>
</ol>
</div>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
