<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @card.task %>
</p>

<p>
<b>Code:</b></br/>
</p>

<div id="code">
<ol>
	<% @card.code.split(/\r\n/).each_with_index do |line, line_index| %>
		<li><% line.split(/(\W)|(\s)/).each_with_index do |segment, segment_index| %><span id= "line_<%= line_index %>_segment_<%= segment_index %>" class="code_snippet"><%= segment %></span><% end %></li>
	<% end %>
</ol>
</div>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
