<%= javascript_tag do %>
	window.cardAnswers = <%= raw @card.answers.select("start_offset, end_offset").map{|a| [a.start_offset, a.end_offset]}.to_json %>
	window.cardId = <%= raw @card.id.to_json %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @card.task %>
</p>

<p>
<b>Code:</b></br/>
</p>

<div id="start_prompt">Click on the start point of the answer.</div>
<div id="end_prompt" class ="hidden">Now select the end point of the answer.</div>

<div id="card_code">
	<ol>
		<% offset = 0 %>
		<% @card.tokenized_code.each do |line| %>
			<li><% line.each do |substring| %><span id= "<%= offset %>" class="card_code_snippet"><%= substring == "\t" ? "  " : substring %></span><% offset+= 1 %><% end %></li>
		<% end %>
	</ol>
</div>

<div id="card_answers">
	<ol>
		<% @card.answers.each_with_index do |answer, index| %>
			<li>Start Offset:<%= answer.start_offset %> End Offset:<%= answer.end_offset %></li>
		<% end %>
	</ol>
</div>

<div>
<a id="save_prompt" class="hidden" href="#">Save</a>
</div>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %> |
<%= link_to 'Answers', card_answers_path(@card) %>
